<!DOCTYPE html>
<html ng-app="tRexToe">
  <head>
    <title>TRexToe</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/angular.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body>
      <div ng-controller="boardController" id="container">

        <!-- size of board -->
        <form ng-submit="setupBoard()">
          <div ng-hide="gameboard.initiate">
          <label>Boardsize:</label>
          <input type="number" name="range" ng-model="range" min="3" max="7">
          <label>Player 1:</label>
          <input type="text" ng-model="playerOne" value="Player 1">
          <label>Player 2:</label>
          <input type="text" ng-model="playerTwo" value="Player 2">
          <input type="submit">
          </div>
        </form>


          <h1>{{playerOne}}</h1>
          <h1>{{playerTwo}}</h1>

          <h1>T Rex Toe</h1>
          <h3 ng-bind="gameboard.itsyourturn"></h3>
          <div ng-show="gameboard.over" ng-bind="gameboard.end_game"></div>
          <div ng-click="playAgain()">play again?</div>
      
      
      <div
         ng-repeat="row in gameboard.board" class="clear"
       >
          <div 
          ng-repeat="col in row track by $index"
          ng-class="{
          cell:true,
          borderbottom: $parent.$index!=(range-1),
          borderleft: $index!=0,
          dino: gameboard.board[$parent.$index][$index]==1,
          toe: gameboard.board[$parent.$index][$index]==2
          }"
          ng-click="setPic($parent.$index, $index)"
          ></div>

      </div>



     <!--  <br>
      <div>{{board}}</div>
      <br>
      <div>{{players_current_locations}}</div> -->
      



    </div>
  </body>
</html>
