<!DOCTYPE html>
<html ng-app="tRexToe">
  <head>
    <title>TRexToe</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/angular.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body>
      <div ng-controller="boardController" id="container">

        <!-- size of board -->
        <form ng-submit="setupBoard()">
          <input type="number" name="range" ng-model="range" min="3" max="7">
          <input type="submit">
        </form>


          <h1>T Rex Toe</h1>
          <h3 ng-bind="itsyourturn"></h3>
      <div
        ng-show="initiate" ng-repeat="row in board" class="clear"
       >
          <div 
          ng-repeat="col in row track by $index"
          ng-class="{
          cell:true,
          borderbottom: $parent.$index!=(range-1),
          borderleft: $index!=0,
          dino: board[$parent.$index][$index]==1,
          toe: board[$parent.$index][$index]==2
          }"
          ng-click="setPic($parent.$index, $index)"
          ></div>

      </div>


     <!--  <br>
      <div>{{board}}</div>
      <br>
      <div>{{players_current_locations}}</div> -->
      



    </div>
  </body>
</html>
